<!DOCTYPE html>
<html lang="pt-br">
<title>{% block titulo %}{% endblock %} FINANS</title>


<!--Headers-->
{% include 'base/header.html' %}
<!--Navbar-->
{% include 'base/navbar.html' %}
<body class="app header-fixed sidebar-fixed">
<div class="app-body bg-light " id="loading">
    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        {% include 'base/breadcrumb.html' %}
        <!-- Page contents -->
        <div class="animated fadeIn">
            {% block content %}
            
            {% endblock %}
        </div>
    </main>
</div>

<!--Footer-->
{% include 'base/footer.html' %}

<!--JS-->
{% include 'base/js.html' %}
</body>
</html>