{% extends 'base/base.html' %}
{% block titulo %}Redefinição de senha enviada | {% endblock %}

{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Redefinição de senha enviada</h2>
		<hr>
		<p>Enviamos um e-mail com instruções para definir sua senha, caso exista uma conta com o e-mail que você digitou. Você deve recebê-los em breve.<br>
			Se você não receber um e-mail, verifique se inseriu o endereço com o qual você se registrou e verifique sua pasta de spam.</p>
  </div>

{% endblock %}