{% load static %}
{% load filters %}
<link href="{% static 'dist/css/dashboard.css' %}" rel="stylesheet">

<div class="row" style="width: 100%; margin-left:-2px">


    <div class="col-lg-4">
        <div class="card-box bg-green">
            <div class="inner">
                <h3> {% if total_incomes.total is None%}
                    0,00
                    {% else %}
                    {{ total_incomes.total | format_value}}
                    {% endif %}</h3>
                <p> Receita </p>

            </div>
            <div class="icon">
                + <i aria-hidden="true" class="fa fa-dollar"></i>
            </div>
            <a class="card-box-footer"></a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card-box bg-red">
            <div class="inner">
                <h3> {% if total_expenses.total is None %}
                     0,00
                    {% else %}
                    {{ total_expenses.total | format_value}}
                    {% endif %}</h3>
                <p> Despesa </p>
            </div>
            <div class="icon">
                - <i class=" fa fa-dollar"></i>
            </div>
            <a class="card-box-footer"></a>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="card-box bg-blue">
            <div class="inner">
                <h3> {% if monthly_balance is None %}
                     0,00
                    {% else %}
                    {{ monthly_balance | format_value}}
                    {% endif %}
                </h3>
                <p> Balanço Mensal </p>
            </div>
            <div class="icon">
                <i aria-hidden="true" class="fa fa-dollar"></i>
            </div>
           <a class="card-box-footer"></a>
        </div>
    </div>
</div>

